<style type="text/css">
.large-Modal-delete .modal-dialog {
	width: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto
}
</style>


<div>
	<form role="form" ng-submit="processLock(timeSheets)">
		<!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title">TimeLog</h3>
					</div>
					<div ng-show="erroMsg.length > 0">
						<div class="alert alert-danger fade in">
							<strong>Error!</strong>
							<ul ng-repeat="err in erroMsg">
								<li>{{err}}</li>
							</ul>
						</div>
					</div>
					<div ng-show="successMsg" class="alert alert-success fade in">
						<button type="button" class="close" name="button"
							data-dismiss="alert">&times;</button>
						<strong>Success!</strong>
					</div>
					<div class="modal-body">
						<input type="hidden" class="form-control" ng-model="allocation.id"
							id="id">
						<div class="row">
							<div class="col-lg-12">
									<label for="currency">Are you sure you want to lock?</label> 
							</div>
						</div>
						</br> </br>
						<div class="row">
							<div class="col-lg-3"></div>
							<div class="col-lg-6">
								<div>
									<div>
										<div class="col-lg-6">
											<button type="submit" class="btn btn-success">Yes</button>
										</div>
										<div class="col-lg-6">
											 <button class="btn btn-warning" type="button" ng-click="cancelLock()">No</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-3"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>