<div class="container-fluid">

	<div class="row">
		<div class="col-md-4">
			<h2>Sites List</h2>
			<table class="table">
				<tr ng-repeat="site in sites | orderBy:'+name'">
					<td>{{site.name}}</td>
					<td ng-click="editRow(site)"><button
							class="btn btn-info btn-xs">Edit</button></td>
					<td ng-click="deleteRow(site)"><button
							class="btn btn-danger btn-xs">Delete</button></td>
				</tr>
			</table>
		</div>
	</div>

	<form role="form" class="form-inline" ng-submit="addRow()">
		<div class="form-group">
			<label for="SiteName">Name:</label> <input type="text"
				class="form-control" id="SiteName" ng-model="name">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

</div>
